---

---

<div class="mx-12">
    <h1 class="my-24 text-center text-xl">Latest Art Pieces</h1>
    <div class="grid grid-cols-1 gap-24 xl:mx-48 md:grid-cols-2">
        <div class="relative group">
            <img class="relative w-full rounded-lg z-10 transition-all group-hover:-translate-x-3"
            src="src/assets/art1.jpg"
            alt="painting"/>
            <div class="absolute left-0 top-0 rounded-lg transition-all  group-hover:translate-x-4 group-hover:translate-y-4 w-full h-full bg-black">
            </div>
        </div>
        <div class="relative group">
            <img class="relative w-full rounded-lg z-10 transition-all group-hover:-translate-x-3"
            src="src/assets/art2.jpg"
            alt="painting"/>
            <div class="absolute left-0 top-0 rounded-lg transition-all  group-hover:translate-x-4 group-hover:translate-y-4 w-full h-full bg-black">
            </div>
        </div>
        <div class="relative group">
            <img class="relative w-full rounded-lg z-10 transition-all group-hover:-translate-x-3"
            src="src/assets/art3.jpg"
            alt="painting"/>
            <div class="absolute left-0 top-0 rounded-lg transition-all  group-hover:translate-x-4 group-hover:translate-y-4 w-full h-full bg-black">
            </div>
        </div>
        <div class="relative group">
            <img class="relative w-full rounded-lg z-10 transition-all group-hover:-translate-x-3"
            src="src/assets/art4.jpg"
            alt="painting"/>
            <div class="absolute left-0 top-0 rounded-lg transition-all  group-hover:translate-x-4 group-hover:translate-y-4 w-full h-full bg-black">
            </div>
        </div>

    </div>
</div>
