---
	const {title} = Astro.props
	import Nav from "../pages/components/Nav"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="digital artist services, accesible for everyone." />
		<meta title={title}/>
	</head>
	<body>
		<main>
			<Nav client:load />
			<slot />
		</main>
	</body>
</html>
